body {
  font-size: 12px;
}

#roster ul {
  list-style-type: none;
  padding: 0;
}

#roster ul li {
  line-height: 36px;  
}

#roster ul li {
  background: url('/soashable-osw/images/avatar_18x24.png') no-repeat;
  padding-left: 24px;
  line-height: 36px;  
}

#roster ul li.available {
  color: green;
}

#roster ul li ul li {
  padding-left: 5px;
  background: none;
}

#roster ul li ul li {
  line-height: 1.2em;
}

#roster ul li img {
  vertical-align: middle;
  margin-right: 0.5em;
  height: 24px;
}

#roster ul li.contact ul.groups {
  list-style-type: square;
  padding: 0 0 0 2em;
}

#roster ul li.contact ul.groups li {
  font-size: 0.8em;
}

#roster ul li.contact .action {
  font-size: 0.8em;
  padding: 0 0.5em;
  cursor: pointer
}
