!!! Strict
%html
  %head
    %title Soashable
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    - javascript[:jquery].each do |filename|
      %script{ :type => "text/javascript", :src => filename}
    - javascript[:strophe][:core].each do |filename|
      %script{ :type => "text/javascript", :src => strophe_url + "src/" + File.basename(filename)}
    - javascript[:strophe][:plugins].each do |filename|
      %script{ :type => "text/javascript", :src => strophe_url + "plugins/" + File.basename(filename)}
    - javascript[:soashable].each do |filename|
      %script{ :type => "text/javascript", :src => filename}        

    - css.each do |filename|
      %link{:rel => "stylesheet", :href => filename, :type => "text/css"}/

  %body

    #menu
      %button.contacts Contacts
      %button.activity-stream Activity stream
      %button.profile Profile
      
    #roster
      %ul.body
    #activities
      .publish-view
      .activity-view
    .chat-bar
    #profile{:style => "display:none"}
      %form
        %label.fn
          Name
          %input.text 
        %label.nickname
          Nickname
          %input.text
        %fieldset.n
          %legend Names
          %label.surname
            Surname
            %input.text
          %label.given
            Given
            %input.text
          %label.prefix
            Prefix
            %input.text
          %label.suffix
            Suffix
            %input.text
        %label.bday
          Birthday
          %input.date 
        %fieldset.email
          %legend
            Email
          %label.type
            Type
            %input.text
          %input.text
        %label.photo
          Photo
          %input.uri
        %button.save
          Save
          
        
    #templates{ :style => "display: none; visibility: hidden"}
      %script{ :type => "text/x-jqote-template", :id => "tpl_login"}
        :cdata
          <div id='<%= this.id %>' style='text-align: center'>
          <form name='cred'>
          <label for='jid'>JID:</label>
          <input type='text' id='jid' value='<%= this.default_jid %>' />
          <label for='pass'>Password:</label>
          <input type='password' id='pass' value='<%= this.default_pass %>' />
          <input type='button' id='connect' value='connect' />
          </form>
          </div>
      %script{ :type => "text/x-jqote-template", :id => "tpl_log"}
        :cdata
          <div id='<%= this.id %>'></div>
      %script{ :type => "text/x-jqote-template", :id => "template_ui_osw_conversation"}
        :cdata
          <div class="osw_conversation" >
          <div class="incoming_text"></div>
          <textarea class="outgoing_text">Hello, <%= this.partner %>!</textarea>
          <button class="send_message">Send Message</button>
          </div>
      %script{ :type => "text/x-jqote-template", :id => "template_ui_osw_activitypublish"}
        :cdata
          <div class="osw_activitypublish">
          <form class="form">
          <input type="text" class="status" name="status"/>
          <input type="submit" class="submit" name="submit" value="submit"/>
          </form>
          </div>
      %script{ :type => "text/x-jqote-template", :id => "template_ui_osw_activityview"}
        :cdata
          <div class="activities">
          </div>
      %script{ :type => "text/x-jqote-template", :id => "template_ui_osw_activityview_activity"}
        :cdata
          <div class="activity" id="<%= this.id %>">
          <p>
          <div class="contact <%= this.jid_class %>"><img class="avatar"/><span class="nickname"><%= this.act.name %></span></div>: <%= this.act.title %>. 
          contains <%= this.act.objects.length %> objects 
          and <%= this.act.acl.length %> ACL rules.
          </p>
          <div class="objects"></div>
          </div>


          
          
